@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

body{
    margin: 0;
}

.content{
    margin-top: 6%;
    margin-left: 1%;
    margin-right: 1%;

    font-family: 'Pattaya', sans-serif;
}

/* -------------------------------------------------------------------------- */

.navig{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: fit-content;

    background-color: cadetblue;
    box-shadow: 0px 10px 20px black;
}

.navigs{
    padding: 1%;

    text-align: center;
    width: 33%;
}

.navigs a{
    padding: 3% 35%;

    text-decoration: none;
    color: white;
    font-size: 150%;
}

.navigs:hover{
    font-weight: 900;
    text-decoration: underline;
    background-color: rgb(155, 208, 209);
    border: 1px solid black;
}



.navig3{
    background-color: rgb(95, 160, 137);
}

/* ------------------------------------------------------------------------ */

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.phone{
    width: 35%;
    margin-bottom: 3%;

    border: 10px ridge rgb(105, 105, 105);
    border-radius: 20%;
    background-color: rgba(137, 43, 226, 0.36);
    box-shadow: 10px 10px 15px black;
}

.email{
    width: 25%;

    border: 10px ridge rgb(105, 105, 105);
    border-radius: 20%;
    background-color: rgba(43, 52, 226, 0.36);
    box-shadow: 10px 10px 15px black;
}


h2{
    text-align: center;
    margin-bottom: 0;

    font-size: 200%;
    font-weight: 100;
}

p{
    text-align: center;
    margin: 5% 0;

    font-size: 200%;
    font-weight: 500;
    text-decoration: underline;
    color: rgb(0, 0, 120);
}
