@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0;
}

.content{
    margin-top: 4.5%;
    margin-left: 1%;
    margin-right: 1%;
}

/* ---------------------------------------------------- */

.nav-detail{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    height: fit-content;
    width: 100%;
    padding: 0.5% 0;

    text-align: center;

    background-color: rgb(95, 160, 137);
    box-shadow: 0px 10px 20px black;
}

.nav-detail a{
    padding: 0 48%;

    text-decoration: none;
    color: white;
    font-size: 200%;
    font-weight: 900;
}

.nav-detail:hover{
    text-decoration: underline;
    background-color: rgb(155, 208, 209);
    border: 1px solid black;
}

.nav-detail a:hover{
    color: white;
}

/* --------------------------------------------------------------- */

.main-content{
    display: grid;
    grid-template-areas: 
    'h1 p'
    'slider p'
    'h3 p';

    grid-template-columns: 30% 68%;
    grid-gap: 2%;
}

h1{
    grid-area: h1;

    margin: 2% 0;
    justify-self: center;
}

h3{
    grid-area: h3;

    justify-self: center;

    font-size: 150%;
}

.slider{
    grid-area: slider;

    justify-self: center;
}

p{
    grid-area: p;

    align-self: center;

    font-size: 150%;
}

/* ----------Slider---------- */

.slider{
    position: relative;

    width: 90%;

    overflow: hidden;
    border: 10px ridge rgb(0, 151, 174);
    border-radius: 10%;
}

.slider-line{
    display: flex;

    transition: all ease .5s;
}

/* ----------end-Slider---------- */

/* ----------Buttons---------- */

button{
    background-color: rgba(0, 0, 255, 0);
    font-size: 300%;
    font-weight: 100;
    border: none;
    padding: 0 5%;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.left-btn{
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 1%;
}

.right-btn{
    position: absolute;
    top: 5%;
    bottom: 5%;
    right: 1%;
}

/* ----------end-Buttons---------- */


/* --------------------------------------------------------------- */

.main-content h1{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 0;

    font-family: 'Lobster', cursive;
}

.main-content h3{
    text-align: center;

    font-family: 'Lobster', cursive;
}

.main-content p{
    font-size: 190%;

    font-family: 'Lobster', cursive;
}

