@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    margin: 0;
}

.content{
    margin-top: 6%;
    margin-left: 1%;
    margin-right: 1%;
}

/* -------------------------------------------------------------------------- */

.navig{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: fit-content;
    z-index: 100;

    background-color: cadetblue;

    box-shadow: 0px 10px 20px black;
}

.navigs{
    padding: 1%;
    transition: padding-top .1s ease-in-out;

    text-align: center;
    border: 1px solid cadetblue;
    width: 33%;
}

.navigs a{
    padding: 4% 35%;

    text-decoration: none;
    color: white;
    font-size: 150%;
}

.navigs:hover{
    padding-top: .5%;
    font-weight: 900;
    text-decoration: underline;
    background-color: rgb(155, 208, 209);
    border: 1px solid black;
}



.navig1{
    background-color: rgb(95, 160, 137);
}

/* ---------------------------------------------------------------------- */

p{
    font-size: 250%;
    font-family: 'Lobster', cursive;
    text-align: center;
}

/* -----SLider----- */

.slider{
    margin: 0% auto;
    margin-bottom: 0;

    width: 80%;
    z-index: 1;
    overflow: hidden;

    border-radius: 5%;

    border: 3px solid black;
}

.slider-line{
    display: flex;
    flex-direction: row;

    transition: all 3s ease-in-out;
}

/* -----Slider-end----- */

