@media screen and (max-width: 955px) {
    
.content{
    margin-top: 15%;
    margin-left: 3%;
    margin-right: 3%;
}

/* -------------------------------------------------------- */

.navig{
    top: 0;
    left: 0;

    box-shadow: 0px 15px 30px black;
}

.navigs{
    padding: 2% 0;
    text-align: center; 
    font-size: 200%;
}

.navigs a{
    padding: 0 10%;
}


.nav-detail{
    padding: 0;
}

.nav-detail a{
    padding: 0 44%;
    font-size: 170%;
}

.navigs:hover{
    padding-top: 1%;
}

/* ---------------------------------------------------- */

.main h1{
    font-size: 500%;
}

.main p{
    font-size: 350%;
}

.main h4{
    font-size: 450%;
}

/* ------------------------------------------------------------- */

.numcard{
    border: 4px solid black;
    width: 90%;
    margin-bottom: 10%;
}

.cards h2{
    margin: 1% 2%;
    font-size: 600%;
}

.cards p{
    margin: 1% 2%;
    font-size: 300%;
}

/* ----- */

.main-content{
    display: flex;
    flex-direction: column;
}


.main-content h1{
    align-self: center;
    margin-top: 0;
}

.slider{
    width: 90%;
    align-self: center;
}

.main-content h3{
    align-self: center;
}

.main-content p{
    align-self: center;

    font-size: 200%;
}

.opis{
    font-size: 80%;
}

/* ------------------------------------------------- */

.phone{
    width: 80%;
    margin-bottom: 7%;

    border: 25px ridge rgb(105, 105, 105);
    box-shadow: 30px 30px 30px black;
}

.email{
    width: 80%;

    border: 25px ridge rgb(105, 105, 105);
    box-shadow: 30px 30px 30px black;
}


h2{
    font-size: 350%;
}

p{
    font-size: 250%;
}

}
